html {
  width: 100vw;
}

body {
  color: #f0ebf4;
  /* background-color: rgb(219, 90, 221); */
  background-color: #0f292f;
  font-family: 'Montserrat', roboto, sans-serif;
  line-height: 1.7;
}

a {
  text-decoration: none;
  color: #f0ebf4;
}

a:hover, a:active {
  color: #501f3a;

}

.topBar {
  position: absolute;
  color: #f0ebf4;
  font-size: 15px;
  /* background: linear-gradient(to right, #681996 0%, #e255c1 40%, #f575ad 60%, #ffc99b 100%); */
  background: linear-gradient(to right, #cb2d6f 0%, #f172a1  100%);
  box-shadow: 2px 4px 10px 4px #695062;
  padding-left: 30px;
  padding-right: 30px;
  height: 75px;
  top: 0px;
  right: 0px;
  left: 0px;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.nav {
  /* background-color: #501f3a; */
  padding: 10px;
  height: 73%;
  display: flex;
  align-items: center;
}

.navLink {
  font-size: 14px;
  padding: 10px;
  margin: 10px;
  font-weight: bold;
}

.container {
  margin-top: 75px;
  margin: auto;
  padding: 100px;
  width: auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.basicInfo {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 15px;
  background-color: #501f3a;
  border-radius: 5px;
  padding: 20px;
  text-align: justify;
}

#wc {
  background-color: #14a098;
  padding: 30px;
  border-radius: 4px;
  color: #fff;
  box-shadow: 4px 5px 10px 5px #71b3af;
}
.wcls {
  background-color: #cccccc;
  color: #4e4e4e;
  max-width: 800px;
  padding: 20px;
  padding-left: 40px;
  margin-left: -30px;
}

.info {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.exp {
  width: 45%;
}

#myC {
  width: 90%;
  background-color: #501f3a;
  padding: 30px;
  box-shadow: 4px 5px 10px 5px #75636d;
}

#contact {
  width: 90%;
  background: linear-gradient(to bottom right, #501f3a 0%, #636ebd 100%);
  /* background-color: #501f3a; */
  padding: 30px;
  box-shadow: 4px 5px 10px 5px #75636d;
}

#about {
  width: 90%;
  background: linear-gradient(to bottom right, #14a098 0%, #2d3ba0 100%);
  padding: 30px;
  box-shadow: 4px 5px 10px 5px #71b3af;
}

ul {
  list-style-type: none;
}

.fmBtn {
  background-color: #cb2d6f;
  border: none;
  color: #fff;
  padding-left: 12px;
  padding-right: 12px;
  padding-top: 7px;
  padding-bottom: 7px;
  border-radius: 3px;
  font-size: 12px;
  margin-right: 15px;
  margin-top: 10px;
  cursor: pointer;
}

input {
  outline: none;
}

footer {
  align-self: flex-end;
  text-align: center;
  width: 100%;
  bottom: 0px;
  margin-bottom: 10px;
  justify-self: flex-end;
}

.divider {
  background: linear-gradient(to right, #14a098 0%, #f172a1 100%);
  height: 1px;
  margin-bottom: 20px;
}


@media (max-width: 900px) {
  body {
    font-size: 20px;
  }
  .topBar {
    height: 200px;
    font-size: 15px;
    padding-left: 50px;
    padding-right: 0px;
  }
  .navLink {
    font-size: 30px;
  }
  .container {
    margin-top: 200px;
  }
  #wc {
    font-size: 25px;
    width: 110%;
    padding: 50px;
  }
  .wcls {
    font-size: 30px;
    width: 100%;
    margin-left: -50px;
  }
  .info {
    font-size: 30px;
  }

}
